// fonts
$app-font-family: 'Work Sans';
$app-font-weight-900: 900;
$app-font-weight-600: 600;
$app-font-weight-300: 300;
$app-font-size-sm: 14px;
$app-font-size-lg: 18px;
$app-font-size-md: 16px;
$app-font-size-xlg: 32px;

// brake points
$sd-device-sm-max: 560px;
$sd-device-md-min: 561px;
$sd-device-md-max: 1080px;
$sd-device-lg-min: 1081px;

// colors
$mtn-color-black: #232323;
$mtn-color-dark: #191919;
$mtn-color-red: #bf0000;
$mtn-color-white: #ffffff;
$mtn-color-gray-100: #dcdcdc;
