<mtn-modal width="588px" alignModal="center" id="cookie">
    <header>
        <h3 class="header_cookie">Cookies</h3>
        <span class="close" (click)="closeModal()" for="">
            <img src="/business/ebu-prepaid/assets/images/Close_icon.svg" alt="close icon" />
        </span>
        <hr />
    </header>
    <main>
        <p class="text-wrap">
            A cookie is generally a tiny data file that resides on your computer, mobile phone, or other device, and allows MTN to recognise
            you as a user when you return to the MTN online store website using the same computer and web browser. There are different types
            of cookies. Here are two examples. A “persistent” cookie – this cookie is set once you’ve logged on to a website. The next time
            you visit the website, the persistent cookie will allow the website to recognise you as an existing user or registered user so
            you will not need to log in before using the services. However if you wish to access or change any of your payment information
            (like a credit card number) or your registered information, you must log in securely again with your password, even if your
            computer contains a persistent cookie. A “session” cookie – this cookie is used to identify a particular visit to a website.
            Session cookies expire after a short time or when you close your web browser. You can remove or block cookies using the settings
            in your browser, but in some cases doing so may impact your ability to use the website.
        </p>
    </main>
</mtn-modal>
